body {
  margin:0px;
  background-color:rgba(230, 238, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:666px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.447058823529412);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2391 {
  position:absolute;
  left:40px;
  top:20px;
  width:345px;
  height:167px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2392 {
  position:absolute;
  left:2px;
  top:76px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2393 {
  position:absolute;
  left:133px;
  top:86px;
  width:232px;
  height:32px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2395 {
  position:absolute;
  left:305px;
  top:137px;
  width:65px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2396 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u2397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u2397 {
  position:absolute;
  left:232px;
  top:137px;
  width:65px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u2398 {
  position:absolute;
  left:16px;
  top:6px;
  width:33px;
  white-space:nowrap;
}
#u2399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:56px;
}
#u2399 {
  position:absolute;
  left:68px;
  top:56px;
  width:51px;
  height:56px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:52px;
  color:#FAAD14;
}
#u2400 {
  position:absolute;
  left:2px;
  top:20px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8);
  line-height:22px;
}
#u2401 {
  position:absolute;
  left:133px;
  top:56px;
  width:232px;
  height:24px;
  font-family:'Microsoft Tai Le Normal', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8);
  line-height:22px;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2404 {
  position:absolute;
  left:499px;
  top:114px;
  width:167px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2405 {
  position:absolute;
  left:38px;
  top:9px;
  width:113px;
  white-space:nowrap;
}
#u2406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2406 {
  position:absolute;
  left:514px;
  top:127px;
  width:14px;
  height:15px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:52px;
  color:#F5222D;
  text-align:left;
}
#u2407 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 4px 12px rgba(0, 0, 0, 0.149019607843137);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2409 {
  position:absolute;
  left:499px;
  top:56px;
  width:111px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u2410 {
  position:absolute;
  left:38px;
  top:9px;
  width:57px;
  white-space:nowrap;
}
#u2411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2411 {
  position:absolute;
  left:514px;
  top:69px;
  width:14px;
  height:15px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:52px;
  color:#52C41A;
  text-align:left;
}
#u2412 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
}
#u2413 {
  position:absolute;
  left:407px;
  top:62px;
  width:71px;
  height:22px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u2414 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
