body {
  margin:0px;
  background-color:rgba(230, 238, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:23px;
  top:81px;
  width:795px;
  height:313px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:30px;
}
#u3 {
  position:absolute;
  left:79px;
  top:0px;
  width:574px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:570px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u5 {
  position:absolute;
  left:653px;
  top:0px;
  width:137px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:42px;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:79px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:13px;
  width:75px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:42px;
}
#u9 {
  position:absolute;
  left:79px;
  top:30px;
  width:574px;
  height:42px;
  text-align:left;
}
#u10 {
  position:absolute;
  left:2px;
  top:13px;
  width:570px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:42px;
}
#u11 {
  position:absolute;
  left:653px;
  top:30px;
  width:137px;
  height:42px;
  text-align:left;
}
#u12 {
  position:absolute;
  left:2px;
  top:13px;
  width:133px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:42px;
}
#u13 {
  position:absolute;
  left:0px;
  top:72px;
  width:79px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14 {
  position:absolute;
  left:2px;
  top:13px;
  width:75px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:42px;
}
#u15 {
  position:absolute;
  left:79px;
  top:72px;
  width:574px;
  height:42px;
  text-align:left;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:570px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:42px;
}
#u17 {
  position:absolute;
  left:653px;
  top:72px;
  width:137px;
  height:42px;
  text-align:left;
}
#u18 {
  position:absolute;
  left:2px;
  top:13px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:55px;
}
#u19 {
  position:absolute;
  left:0px;
  top:114px;
  width:79px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20 {
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:55px;
}
#u21 {
  position:absolute;
  left:79px;
  top:114px;
  width:574px;
  height:55px;
  text-align:left;
}
#u22 {
  position:absolute;
  left:2px;
  top:20px;
  width:570px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u23 {
  position:absolute;
  left:653px;
  top:114px;
  width:137px;
  height:55px;
  text-align:left;
}
#u24 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:55px;
}
#u25 {
  position:absolute;
  left:0px;
  top:169px;
  width:79px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:55px;
}
#u27 {
  position:absolute;
  left:79px;
  top:169px;
  width:574px;
  height:55px;
  text-align:left;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:570px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:55px;
}
#u29 {
  position:absolute;
  left:653px;
  top:169px;
  width:137px;
  height:55px;
  text-align:left;
}
#u30 {
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:42px;
}
#u31 {
  position:absolute;
  left:0px;
  top:224px;
  width:79px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:2px;
  top:13px;
  width:75px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:42px;
}
#u33 {
  position:absolute;
  left:79px;
  top:224px;
  width:574px;
  height:42px;
  text-align:left;
}
#u34 {
  position:absolute;
  left:2px;
  top:13px;
  width:570px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:42px;
}
#u35 {
  position:absolute;
  left:653px;
  top:224px;
  width:137px;
  height:42px;
  text-align:left;
}
#u36 {
  position:absolute;
  left:2px;
  top:13px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:42px;
}
#u37 {
  position:absolute;
  left:0px;
  top:266px;
  width:79px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:2px;
  top:13px;
  width:75px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:42px;
}
#u39 {
  position:absolute;
  left:79px;
  top:266px;
  width:574px;
  height:42px;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:570px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:42px;
}
#u41 {
  position:absolute;
  left:653px;
  top:266px;
  width:137px;
  height:42px;
  text-align:left;
}
#u42 {
  position:absolute;
  left:2px;
  top:13px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u43 {
  position:absolute;
  left:23px;
  top:30px;
  width:112px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
