body {
  margin:0px;
  background-color:rgba(230, 238, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:515px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u9011 {
  position:absolute;
  left:12px;
  top:12px;
  width:503px;
  height:149px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u9012 {
  position:absolute;
  left:16px;
  top:66px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9013 {
  position:absolute;
  left:13px;
  top:12px;
  width:502px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u9014 {
  position:absolute;
  left:20px;
  top:12px;
  width:480px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u9016 {
  position:absolute;
  left:488px;
  top:26px;
  width:12px;
  height:12px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei Normal', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u9017 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:19px;
}
#u9018 {
  position:absolute;
  left:24px;
  top:20px;
  width:218px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u9019 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u9020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u9020 {
  position:absolute;
  left:33px;
  top:75px;
  width:64px;
  height:16px;
  text-align:right;
}
#u9021 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u9022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:28px;
}
#u9023 {
  position:absolute;
  left:108px;
  top:69px;
  width:376px;
  height:28px;
  color:rgba(118, 128, 157, 0.298039215686275);
  text-align:left;
}
#u9024 {
  position:absolute;
  left:2px;
  top:6px;
  width:372px;
  word-wrap:break-word;
}
#u9025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(30, 159, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9025 {
  position:absolute;
  left:436px;
  top:123px;
  width:64px;
  height:28px;
}
#u9026 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u9027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0B76FA;
}
#u9027 {
  position:absolute;
  left:362px;
  top:123px;
  width:64px;
  height:28px;
  color:#0B76FA;
}
#u9028 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u9029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:2px;
}
#u9029 {
  position:absolute;
  left:13px;
  top:113px;
  width:502px;
  height:1px;
}
#u9030 {
  position:absolute;
  left:2px;
  top:-8px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
