body {
  margin:0px;
  background-color:rgba(230, 238, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:68px;
}
#u22441 {
  position:absolute;
  left:0px;
  top:44px;
  width:384px;
  height:68px;
}
#u22442 {
  position:absolute;
  left:2px;
  top:26px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:51px;
  background:inherit;
  background-color:rgba(230, 238, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(241, 241, 241, 1);
  -webkit-box-shadow:0px 5px 5px rgba(241, 241, 241, 1);
  box-shadow:0px 5px 5px rgba(241, 241, 241, 1);
}
#u22443 {
  position:absolute;
  left:0px;
  top:112px;
  width:384px;
  height:51px;
}
#u22444 {
  position:absolute;
  left:2px;
  top:18px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(230, 238, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22445 {
  position:absolute;
  left:9px;
  top:133px;
  width:80px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22446 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:72px;
}
#u22447 {
  position:absolute;
  left:9px;
  top:10px;
  width:375px;
  height:72px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22448 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u22449 {
  position:absolute;
  left:144px;
  top:48px;
  width:105px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u22450 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u22451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22451 {
  position:absolute;
  left:19px;
  top:48px;
  width:105px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22452 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:80px;
}
#u22453 {
  position:absolute;
  left:1px;
  top:0px;
  width:383px;
  height:80px;
}
#u22454 {
  position:absolute;
  left:2px;
  top:32px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22455 {
  position:absolute;
  left:159px;
  top:44px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22456 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u22457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22457 {
  position:absolute;
  left:267px;
  top:84px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22458 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:5px;
}
#u22459 {
  position:absolute;
  left:276px;
  top:109px;
  width:38px;
  height:4px;
}
#u22460 {
  position:absolute;
  left:2px;
  top:-6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:598px;
}
#u22461 {
  position:absolute;
  left:0px;
  top:163px;
  width:384px;
  height:598px;
}
#u22462 {
  position:absolute;
  left:2px;
  top:291px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22463_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:44px;
  height:5px;
}
#u22463 {
  position:absolute;
  left:322px;
  top:159px;
  width:41px;
  height:2px;
}
#u22464 {
  position:absolute;
  left:2px;
  top:-7px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:2px;
}
#u22465 {
  position:absolute;
  left:21px;
  top:639px;
  width:347px;
  height:1px;
}
#u22466 {
  position:absolute;
  left:2px;
  top:-8px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22467 {
  position:absolute;
  left:9px;
  top:705px;
  width:375px;
  height:56px;
}
#u22468 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22470 {
  position:absolute;
  left:136px;
  top:715px;
  width:20px;
  height:20px;
}
#u22471 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:10px;
  color:#9E9FA0;
}
#u22472 {
  position:absolute;
  left:136px;
  top:735px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:10px;
  color:#9E9FA0;
}
#u22473 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u22474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22475 {
  position:absolute;
  left:324px;
  top:715px;
  width:20px;
  height:20px;
}
#u22476 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:10px;
  color:#9E9FA0;
}
#u22477 {
  position:absolute;
  left:323px;
  top:735px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:10px;
  color:#9E9FA0;
}
#u22478 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u22479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u22480 {
  position:absolute;
  left:230px;
  top:715px;
  width:20px;
  height:18px;
  font-size:10px;
}
#u22481 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u22482 {
  position:absolute;
  left:229px;
  top:734px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u22483 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u22484 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22485 {
  position:absolute;
  left:42px;
  top:715px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u22486 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:10px;
  color:#9E9FA0;
}
#u22487 {
  position:absolute;
  left:42px;
  top:735px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:10px;
  color:#9E9FA0;
}
#u22488 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u22489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22489 {
  position:absolute;
  left:19px;
  top:38px;
  width:48px;
  height:30px;
}
#u22490 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22491 {
  position:absolute;
  left:64px;
  top:84px;
  width:57px;
  height:16px;
}
#u22492 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22493 {
  position:absolute;
  left:165px;
  top:84px;
  width:57px;
  height:16px;
}
#u22494 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:202px;
}
#u22495 {
  position:absolute;
  left:9px;
  top:188px;
  width:369px;
  height:192px;
}
#u22496 {
  position:absolute;
  left:2px;
  top:88px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u22497 {
  position:absolute;
  left:291px;
  top:195px;
  width:77px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:20px;
}
#u22498 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u22499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u22499 {
  position:absolute;
  left:24px;
  top:195px;
  width:150px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u22500 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u22501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u22501 {
  position:absolute;
  left:24px;
  top:236px;
  width:83px;
  height:76px;
}
#u22502 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22503 {
  position:absolute;
  left:125px;
  top:236px;
  width:189px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22504 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u22505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u22505 {
  position:absolute;
  left:126px;
  top:258px;
  width:62px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#EE0B26;
  line-height:20px;
}
#u22506 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u22507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u22507 {
  position:absolute;
  left:149px;
  top:338px;
  width:96px;
  height:30px;
  color:#000000;
}
#u22508 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u22509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22509 {
  position:absolute;
  left:41px;
  top:342px;
  width:60px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22510 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u22511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u22511 {
  position:absolute;
  left:316px;
  top:262px;
  width:52px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u22512 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u22513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:right;
}
#u22513 {
  position:absolute;
  left:34px;
  top:313px;
  width:326px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:right;
}
#u22514 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u22515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#F5222D;
}
#u22515 {
  position:absolute;
  left:291px;
  top:231px;
  width:77px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#F5222D;
}
#u22516 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u22517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22517 {
  position:absolute;
  left:16px;
  top:195px;
  width:362px;
  height:133px;
}
#u22518 {
  position:absolute;
  left:2px;
  top:58px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(230, 238, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22519 {
  position:absolute;
  left:73px;
  top:132px;
  width:80px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22520 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(230, 238, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22521 {
  position:absolute;
  left:148px;
  top:132px;
  width:80px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22522 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(230, 238, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22523 {
  position:absolute;
  left:295px;
  top:133px;
  width:80px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22524 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(230, 238, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22525 {
  position:absolute;
  left:225px;
  top:133px;
  width:80px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u22526 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(230, 238, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.247058823529412);
}
#u22527 {
  position:absolute;
  left:422px;
  top:343px;
  width:96px;
  height:30px;
  color:rgba(0, 0, 0, 0.247058823529412);
}
#u22528 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u22529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(82, 136, 245, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5288F5;
}
#u22529 {
  position:absolute;
  left:267px;
  top:338px;
  width:96px;
  height:30px;
  color:#5288F5;
}
#u22530 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
