body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:626px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:795px;
}
#u118 {
  position:absolute;
  left:13px;
  top:0px;
  width:613px;
  height:795px;
}
#u119 {
  position:absolute;
  left:2px;
  top:390px;
  width:609px;
  visibility:hidden;
  word-wrap:break-word;
}
