body {
  margin:0px;
  background-color:rgba(230, 238, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:791px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:661px;
}
#u120 {
  position:absolute;
  left:1px;
  top:52px;
  width:256px;
  height:661px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u121 {
  position:absolute;
  left:2px;
  top:322px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:661px;
}
#u122 {
  position:absolute;
  left:256px;
  top:52px;
  width:256px;
  height:661px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u123 {
  position:absolute;
  left:2px;
  top:322px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:661px;
}
#u124 {
  position:absolute;
  left:512px;
  top:52px;
  width:256px;
  height:661px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u125 {
  position:absolute;
  left:2px;
  top:322px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:52px;
  background:inherit;
  background-color:rgba(79, 136, 187, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:2px;
  top:14px;
  width:764px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u128 {
  position:absolute;
  left:0px;
  top:53px;
  width:256px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u129 {
  position:absolute;
  left:2px;
  top:9px;
  width:252px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u130 {
  position:absolute;
  left:256px;
  top:53px;
  width:256px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:2px;
  top:9px;
  width:252px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u132 {
  position:absolute;
  left:512px;
  top:53px;
  width:256px;
  height:40px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u133 {
  position:absolute;
  left:2px;
  top:9px;
  width:252px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u134 {
  position:absolute;
  left:78px;
  top:130px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u135 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u136 {
  position:absolute;
  left:14px;
  top:271px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u137 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u138 {
  position:absolute;
  left:140px;
  top:233px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u139 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u140 {
  position:absolute;
  left:78px;
  top:616px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u141 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u142 {
  position:absolute;
  left:393px;
  top:467px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u143 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u144 {
  position:absolute;
  left:393px;
  top:540px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u145 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u146 {
  position:absolute;
  left:393px;
  top:616px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u147 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u148 {
  position:absolute;
  left:275px;
  top:540px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u149 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u150 {
  position:absolute;
  left:140px;
  top:385px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u151 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u152 {
  position:absolute;
  left:590px;
  top:191px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u153 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u154 {
  position:absolute;
  left:590px;
  top:261px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u155 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u156 {
  position:absolute;
  left:590px;
  top:402px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u157 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:128px;
  top:177px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u158_seg1 {
  position:absolute;
  left:-68px;
  top:26px;
  width:72px;
  height:8px;
}
#u158_seg2 {
  position:absolute;
  left:-68px;
  top:26px;
  width:8px;
  height:68px;
}
#u158_seg3 {
  position:absolute;
  left:-74px;
  top:79px;
  width:20px;
  height:20px;
}
#u159 {
  position:absolute;
  left:-99px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:64px;
  top:318px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u160_seg1 {
  position:absolute;
  left:-4px;
  top:87px;
  width:80px;
  height:8px;
}
#u160_seg2 {
  position:absolute;
  left:61px;
  top:81px;
  width:20px;
  height:20px;
}
#u161 {
  position:absolute;
  left:-50px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:190px;
  top:355px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u162_seg1 {
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u163 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:238px;
  top:397px;
  width:0px;
  height:0px;
}
#u164_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u164_seg1 {
  position:absolute;
  left:105px;
  top:-186px;
  width:8px;
  height:190px;
}
#u164_seg2 {
  position:absolute;
  left:105px;
  top:-186px;
  width:247px;
  height:8px;
}
#u164_seg3 {
  position:absolute;
  left:337px;
  top:-192px;
  width:20px;
  height:20px;
}
#u165 {
  position:absolute;
  left:59px;
  top:-168px;
  width:100px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:690px;
  top:215px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u166_seg1 {
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:284px;
}
#u166_seg2 {
  position:absolute;
  left:-197px;
  top:272px;
  width:249px;
  height:8px;
}
#u166_seg3 {
  position:absolute;
  left:-202px;
  top:266px;
  width:20px;
  height:20px;
}
#u167 {
  position:absolute;
  left:-2px;
  top:227px;
  width:100px;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:443px;
  top:514px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u168_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u168_seg1 {
  position:absolute;
  left:-10px;
  top:11px;
  width:20px;
  height:20px;
}
#u169 {
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:443px;
  top:587px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u170_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u170_seg1 {
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u171 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:393px;
  top:640px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u172_seg0 {
  position:absolute;
  left:-215px;
  top:-4px;
  width:219px;
  height:8px;
}
#u172_seg1 {
  position:absolute;
  left:-220px;
  top:-10px;
  width:20px;
  height:20px;
}
#u173 {
  position:absolute;
  left:-158px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:240px;
  top:409px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u174_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:175px;
  height:8px;
}
#u174_seg2 {
  position:absolute;
  left:163px;
  top:-128px;
  width:8px;
  height:134px;
}
#u174_seg3 {
  position:absolute;
  left:163px;
  top:-128px;
  width:187px;
  height:8px;
}
#u174_seg4 {
  position:absolute;
  left:-10px;
  top:-5px;
  width:20px;
  height:20px;
}
#u174_seg5 {
  position:absolute;
  left:335px;
  top:-134px;
  width:20px;
  height:20px;
}
#u175 {
  position:absolute;
  left:117px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:375px;
  top:564px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u176_seg1 {
  position:absolute;
  left:3px;
  top:-10px;
  width:20px;
  height:20px;
}
#u177 {
  position:absolute;
  left:-41px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:128px;
  top:663px;
  width:0px;
  height:0px;
}
#u178_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u178_seg1 {
  position:absolute;
  left:-4px;
  top:63px;
  width:668px;
  height:8px;
}
#u178_seg2 {
  position:absolute;
  left:656px;
  top:-382px;
  width:8px;
  height:453px;
}
#u178_seg3 {
  position:absolute;
  left:562px;
  top:-382px;
  width:102px;
  height:8px;
}
#u178_seg4 {
  position:absolute;
  left:557px;
  top:-388px;
  width:20px;
  height:20px;
}
#u179 {
  position:absolute;
  left:518px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:393px;
  top:491px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u180_seg1 {
  position:absolute;
  left:-72px;
  top:-5px;
  width:76px;
  height:8px;
}
#u180_seg2 {
  position:absolute;
  left:-72px;
  top:-5px;
  width:8px;
  height:54px;
}
#u180_seg3 {
  position:absolute;
  left:-78px;
  top:34px;
  width:20px;
  height:20px;
}
#u181 {
  position:absolute;
  left:-108px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:590px;
  top:426px;
  width:0px;
  height:0px;
}
#u182_seg0 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:151px;
  height:8px;
}
#u182_seg1 {
  position:absolute;
  left:-151px;
  top:-4px;
  width:8px;
  height:45px;
}
#u182_seg2 {
  position:absolute;
  left:-157px;
  top:26px;
  width:20px;
  height:20px;
}
#u183 {
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u184 {
  position:absolute;
  left:590px;
  top:332px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u185 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u186 {
  position:absolute;
  left:590px;
  top:130px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u187 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:590px;
  top:154px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  position:absolute;
  left:-310px;
  top:-4px;
  width:310px;
  height:8px;
}
#u188_seg1 {
  position:absolute;
  left:-310px;
  top:-4px;
  width:8px;
  height:111px;
}
#u188_seg2 {
  position:absolute;
  left:-350px;
  top:99px;
  width:48px;
  height:8px;
}
#u188_seg3 {
  position:absolute;
  left:-355px;
  top:93px;
  width:20px;
  height:20px;
}
#u189 {
  position:absolute;
  left:-276px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u190 {
  position:absolute;
  left:140px;
  top:308px;
  width:100px;
  height:47px;
  font-size:14px;
}
#u191 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:128px;
  top:177px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u192_seg1 {
  position:absolute;
  left:-4px;
  top:27px;
  width:70px;
  height:8px;
}
#u192_seg2 {
  position:absolute;
  left:58px;
  top:27px;
  width:8px;
  height:29px;
}
#u192_seg3 {
  position:absolute;
  left:52px;
  top:41px;
  width:20px;
  height:20px;
}
#u193 {
  position:absolute;
  left:-22px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:190px;
  top:280px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u194_seg1 {
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u195 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u196 {
  position:absolute;
  left:146px;
  top:874px;
  width:100px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u197 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u198 {
  position:absolute;
  left:14px;
  top:874px;
  width:100px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u200 {
  position:absolute;
  left:389px;
  top:874px;
  width:100px;
  height:47px;
  font-size:14px;
  color:#1890FF;
}
#u201 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:47px;
}
#u202 {
  position:absolute;
  left:275px;
  top:874px;
  width:84px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u203 {
  position:absolute;
  left:2px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:114px;
  top:898px;
  width:0px;
  height:0px;
}
#u204_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u204_seg1 {
  position:absolute;
  left:14px;
  top:-10px;
  width:20px;
  height:20px;
}
#u205 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:246px;
  top:898px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u206_seg1 {
  position:absolute;
  left:14px;
  top:-10px;
  width:20px;
  height:20px;
}
#u207 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:359px;
  top:898px;
  width:0px;
  height:0px;
}
#u208_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u208_seg1 {
  position:absolute;
  left:15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u209 {
  position:absolute;
  left:-35px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:317px;
  top:874px;
  width:0px;
  height:0px;
}
#u210_seg0 {
  position:absolute;
  left:-4px;
  top:-46px;
  width:8px;
  height:46px;
}
#u210_seg1 {
  position:absolute;
  left:-125px;
  top:-46px;
  width:129px;
  height:8px;
}
#u210_seg2 {
  position:absolute;
  left:-125px;
  top:-46px;
  width:8px;
  height:46px;
}
#u210_seg3 {
  position:absolute;
  left:-131px;
  top:-15px;
  width:20px;
  height:20px;
}
#u211 {
  position:absolute;
  left:-110px;
  top:-52px;
  width:100px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:47px;
}
#u212 {
  position:absolute;
  left:518px;
  top:874px;
  width:84px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u213 {
  position:absolute;
  left:2px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u214 {
  position:absolute;
  left:631px;
  top:874px;
  width:100px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u215 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u216 {
  position:absolute;
  left:760px;
  top:874px;
  width:100px;
  height:47px;
  font-size:14px;
  color:#1890FF;
}
#u217 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u218 {
  position:absolute;
  left:1132px;
  top:832px;
  width:100px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u219 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u220 {
  position:absolute;
  left:1132px;
  top:917px;
  width:100px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u221 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:47px;
}
#u222 {
  position:absolute;
  left:890px;
  top:874px;
  width:84px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u223 {
  position:absolute;
  left:2px;
  top:16px;
  width:80px;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:489px;
  top:898px;
  width:0px;
  height:0px;
}
#u224_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u224_seg1 {
  position:absolute;
  left:14px;
  top:-10px;
  width:20px;
  height:20px;
}
#u225 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:602px;
  top:898px;
  width:0px;
  height:0px;
}
#u226_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u226_seg1 {
  position:absolute;
  left:14px;
  top:-10px;
  width:20px;
  height:20px;
}
#u227 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:731px;
  top:898px;
  width:0px;
  height:0px;
}
#u228_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u228_seg1 {
  position:absolute;
  left:14px;
  top:-10px;
  width:20px;
  height:20px;
}
#u229 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:860px;
  top:898px;
  width:0px;
  height:0px;
}
#u230_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u230_seg1 {
  position:absolute;
  left:15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u231 {
  position:absolute;
  left:-35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:47px;
}
#u232 {
  position:absolute;
  left:1003px;
  top:874px;
  width:100px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u233 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:974px;
  top:898px;
  width:0px;
  height:0px;
}
#u234_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u234_seg1 {
  position:absolute;
  left:14px;
  top:-10px;
  width:20px;
  height:20px;
}
#u235 {
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1103px;
  top:898px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u236_seg1 {
  position:absolute;
  left:13px;
  top:-46px;
  width:8px;
  height:50px;
}
#u236_seg2 {
  position:absolute;
  left:13px;
  top:-46px;
  width:16px;
  height:8px;
}
#u236_seg3 {
  position:absolute;
  left:14px;
  top:-52px;
  width:20px;
  height:20px;
}
#u237 {
  position:absolute;
  left:-33px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:1103px;
  top:898px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u238_seg1 {
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:51px;
}
#u238_seg2 {
  position:absolute;
  left:13px;
  top:39px;
  width:16px;
  height:8px;
}
#u238_seg3 {
  position:absolute;
  left:14px;
  top:33px;
  width:20px;
  height:20px;
}
#u239 {
  position:absolute;
  left:-33px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
